* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ol,
* ul {
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .nav-bar .btn {
  transition: 0.3s;
  cursor: pointer;
  background: red;
  padding: 1rem 2rem;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
}
.header .nav-bar .btn:hover {
  background: #fff;
  color: #333;
}
.header .nav-bar .text {
  font-size: 16px;
  font-weight: regular;
  color: #000;
  color: green;
}