// Font-size:
$fs-primary: 15px;
$fs-m:15px;
$fs-l: 1.5rem;
$fs-xl: 2rem;
// Font-weight:
$fw-normal: 400;
$fw-thin: 200;
$fw-bold: 600;
$fw-bolder: 700;
// font family:
$ff-primary: "Montserrat", Arial, Helvetica, sans-serif;
$ff-secondary: "Roboto", Arial, Helvetica, sans-serif;
// Color
$cl-dark: #191919;
$cl-light: #ffffff;
$cl-primary: #b61984;
$cl-grey: #181818;
// Background-color: 
$bgc-primaray: #ffffff;
$bgc-secondary: #dcd1f0;
$bgc-total: #aa207e;
// padding
$pd-section-footer: 120px;
$pd-section: 60px;
$pd-025:0.25rem;
$pd-05: 0.5rem;
$pd-1: 1rem;
$pd-15: 1.5rem;
$pd-2: 2rem;
$pd-3: 3rem;
// margin
$m-section: 60px;
$m-025:0.25rem;
$m-05: 0.5rem;
$m-1: 1rem;
$m-2: 2rem;
$m-3: 3rem;
// timing:
$ts-1: 0.3s;
$ts-2: 0.5s;