@import "../Helpers/variables";
@import "../Helpers/mixin";
@import "../Helpers/loop";
@import "../components/buttons";
.header {
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  .container {
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1200px) {
      padding: 0 30px;
    }
    .site-logo {
      width: 80px;
    }
    .nav-bar {
      align-items: center;
      .nav-menu {
        ul {
          .nav-col {
            //<li>
            margin-right: 50px; // fix the menu hover issue
            position: relative;
            .menu-item {
              @include text(13px, $fw-bold, $cl-dark);
              // margin-right: 50px; // fix the menu hover issue
              transition: 0.3s;
              position: relative;
              &:hover {
                color: $cl-primary;
              }
            }
            .menu-item {
              &::after {
                position: absolute;
                content: "";
                background-color: $bgc-total;
                width: 8px;
                height: 8px;
                display: block;
                left: 50%;
                transform: translateX(-50%) scale(0%);
                bottom: -30px;
                border-radius: 50%;
                z-index: 20;
                transition: inherit;
              }
            }
            .menu-item.active {
              &::after {
                transform: translateX(-50%) scale(100%);
                z-index: 1;
              }
            }
            .sub-menu-item {
              position: absolute;
              top: calc(100% + 18px);
              left: 50%;
              transform: translateX(-50%);
              border: 1px solid #eee;
              width: 1080px;
              max-width: 780px;
              padding: 0 $pd-1;
              background-color: $bgc-primaray;
              @include shadow-type2();
              .single-col {
                // ul
                font-size: 0.9em;
                li {
                  .item-child {
                    text-transform: capitalize;
                    @include text(0.9em, 600, $cl-dark);
                  }
                  line-height: 3em;
                  border-bottom: 1px solid #5050502c;
                }
                li:first-of-type {
                  border-bottom: 3px solid $cl-primary;
                  line-height: 2.5em;
                }
                li:last-of-type {
                  border-bottom: none;
                }
              }
            }
            .sub-menu-item2 {
              @extend .sub-menu-item;
              max-width: calc(700px / 3);
              transform: translateX(0);
              left: 0;
              li {
                .item-child {
                  text-transform: capitalize;
                  @include text(0.9em, 600, $cl-dark);
                }
                line-height: 3em;
                border-bottom: 1px solid #5050502c;
                &:last-of-type {
                  border-bottom: none;
                }
              }
            }
            .sub-menu-item3 {
              @extend .sub-menu-item;
              left: unset;
              max-width: calc(700px / 3);
              transform: translateX(0);
              right: 0;
              li {
                .item-child {
                  text-transform: capitalize;
                  @include text(0.9em, 600, $cl-dark);
                }
                line-height: 3em;
                border-bottom: 1px solid #5050502c;
                &:last-of-type {
                  border-bottom: none;
                }
              }
            }

            // hover action
            .sub-menu-item,
            .sub-menu-item2,
            .sub-menu-item3 {
              visibility: hidden;
              opacity: 0;
              transition: $ts-2;
              .item-child {
                display: block;
                transition: $ts-2;
                &:hover {
                  color: $cl-primary !important;
                }
              }
              &::before {
                // Cầu nối
                content: "";
                display: block;
                position: absolute;
                // background-color: cyan;
                // cursor: pointer;
                height: 20px;
                left: 0;
                right: 0;
                top: -20px;
              }
            }
            &:hover { // hover này tác động lên sub menu item và dấu chấm phía sau.
              .sub-menu-item,
              .sub-menu-item2,
              .sub-menu-item3 {
                visibility: visible;
                opacity: 1;
                z-index: 10;
              }
              &::before {
                content: "";
                display: block;
              }
              .menu-item {
                &::after {
                  transform: translateX(-50%) scale(130%);
                }
              }
              .menu-item.active {
                &::after {
                  transform: translateX(-50%) scale(130%);
                  z-index: 20;
                }
              }
            }
            // &::after {
            //     content: '';
            //     display: block;
            //     width: 12px;
            //     height: 12px;
            //     background-color: $cl-primary;
            //     position: absolute;
            //     left: 25%;
            //     transform: translateX(-50%);
            //     bottom: -30px;
            //     border-radius: 50%;
            //     transition: inherit;
            //     // transform: scale(0%);
            // }
          }
        }
      }
      .nav-contact {
        align-items: center;
        .contact-btn {
          font-size: 0.9rem;
          height: 3.5em;
          line-height: 3.5em;
          padding: 0 calc($pd-15);
          font-weight: 500;
          margin-right: $m-05;
          i {
            margin-right: $m-05;
          }
        }
        .social-btns {
          a {
            margin-left: 4px;
            font-size: 1em;
            padding: $pd-025;
            height: 2rem;
            text-align: center;
            color: $cl-dark;
            display: inline-block;
            transition: 0.3s;
            &:hover {
              color: $cl-primary;
            }
          }
        }
      }
    }
  }
  /// Vertical header
  .vertial-header {
    .ver-menu {
    }
    .offcanvas {
      display: flex;
      align-items: center;
      width: 320px;
      // .logo-vertical {
      // }
      .nav-bar-vertical {
        font-size: 13px;
        line-height: 1;
        width: 100%;
        text-align: center;
        padding: 1rem 2rem;
        .nav-item {
          position: relative;
          .menu-item {
            width: 100%;
            .menu-txt {
              padding: 1em 2em;
              color: $cl-grey;
              text-decoration: none;
              display: block;
              width: 100%;
            }
          }
          .menu-arrow {
            position: absolute;
            color: red;
            top: 0;
            right: 0;
            padding: 1em 2em;
            font-size: 0.8rem;
            color: $cl-grey;
            text-decoration: none;
          }
          .collapse-list {
            // menu cấp 1 (hiện bên ngoài)
            .sub-menu-item {
              // menu cấp 2 (con menu cấp 1)
              position: relative;
              font-size: 0.9em;
              & a {
                // menu cấp 3  (con menu cấp 2)
                padding: 1em 2em;
                color: $cl-grey;
                text-decoration: none;
                display: block;
              }
              .menu-txt {
                padding: 1em 2em;
                color: $cl-grey;
                text-decoration: none;
                display: block;
                width: 100%;
              }
              .collapse-list {
                & li {
                  // padding: 1em 2em;
                  a {
                    color: $cl-grey;
                    text-decoration: none;
                    font-size: 0.9em;
                  }
                }
              }
            }
          }
        }
      }
      //Contact vertical Navbar
      .nav-bar-vertical {
        .nav-contact {
          .contact-btn {
            // @include btn-boxshadow-light();
            display: block;
            height: 3em;
            line-height: 3em;
            margin: $m-05 $m-2;
          }
          .social-btns {
            a {
              color: $cl-dark;
              margin: 0 $m-025;
            }
          }
        }
      }
    }
  }
}
.header.scrolling {
  background-color: $bgc-primaray;
  @include shadow-type2;
  animation-name: upHidedownShow;
  animation-duration: 1s;
  .container {
    height: 49px;
    .site-logo {
      img {
        display: none;
      }
    }
    .nav-bar {
      .nav-menu {
        ul {
          .nav-col {
            &:hover {
              .sub-menu-item,
              .sub-menu-item2,
              .sub-menu-item3 {
                top: calc(100% + 10px);
              }
            }
            .menu-item {
              &::after {
                bottom: -20px;
              }
            }
          }
        }
      }
      .nav-contact {
        .contact-btn {
          height: 2.5rem;
          line-height: 2.5rem;
        }
      }
    }
  }
}
// .header.stay {
//   animation-name: upHidedownShow;
//   animation-duration: 2s;
// }
// Show and hide side bar
.vertial-header {
  display: none;
  .ver-menu {
    position: absolute;
    width: 100%;
    background-color: $bgc-primaray;
    height: 48px;
    top: 0;
    padding-left: $pd-2;
    button {
      background-color: $bgc-primaray;
      margin-right: $m-2;
      i {
        color: $cl-primary;
        font-size: 30px;
      }
    }
    .bar {
      img {
        height: 48px;
      }
    }
  }
}
body.showSidebar .ver-menu {
  left: 320px;
  position: absolute;
  top: 0;
  width: 100%;
  .bar {
    display: none;
  }
}
